@keyframes scrollicon {
    0% {
        margin-bottom: 30px;
    }

    50% {
        margin-bottom: 0px;
    }

    100% {
        margin-bottom: 30px;
    }
}

@keyframes tg-link {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
    
}