.section {
    padding: 25px 20px;
    /* min-height: 100vh; */
    background-position: center;
    background-size: cover;
}

.section-title {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    margin-bottom: 25px;
    color: #BE3455;
}

.section-title > span {
    color: #BE3455;
}


.section-content {
    line-height: 28px;
}

.section-friends {
    background-image: linear-gradient( rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1) ), url('../assets/friends-bg.JPG');
    min-height: 100vh;
}

.colors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.color {
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 100px;
}

.examples-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
    gap: 10px;
}

.example {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.grid-wide {
    grid-column: 1 / 3;
}
